:root {
  --primary-color: #6038c7;
  --yellow: #FDB02F;
  --white: #F9F9F9;
  --grey: #A7AAC6;
  --blue: #353D87;
}

.root {
  height: 100%;
  position: fixed;
  width: 100%;
}

/* HEADER */

header {
  background-color: var(--yellow);
}

header > div {
  cursor: pointer;
  transition: 0.5s;
  padding: 10px 20px;
}

header > div:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

header img {
  width: 50px;
  border-radius: 100%;
}

header span:not(.mdi) {
  margin-bottom: -10px;
}

header span.mdi {
  font-size: 20px;
  margin-left: 10px;
}

header small {
  color: var(--blue);
  display: block;
  margin-top: -20px;
}

/* SIDEBAR */

sidebar {
  background-color: var(--blue);
  height: 100%;
  position: fixed;
  width: 250px;
  transition: 0.5s;
  z-index: 1;
}

sidebar ul li {
  list-style: none;
  width: 100%;
}

sidebar ul li a {
  color: var(--white);
  width: 100%;
  opacity: 0.6;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  margin: 2.5px;
  transition: 0.5s;
  text-decoration: none;
  border-radius: 5px;
}

sidebar ul li a:hover {
  opacity: 1;
  transition: 0.5s;
}

sidebar ul li a.active {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}

sidebar ul li a.active .mdi {
  color: var(--yellow);
}

sidebar ul li a:visited,
sidebar ul li a:focus {
  color: var(--white);
}

sidebar ul li a span.mdi {
  font-size: 25px;
  margin: 0 10px;
}

sidebar ul li a text {
  font-size: 15px;
}